.contact-container {
  width: 100%;
  height: 100vh;
  background-color: #f0f0f0;
  padding-right: 25%;
  padding-left: 25%;
  padding-top: 140px;
  box-sizing: border-box;
  z-index: 0;
}
.contact-title {
  width: 100%;
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
}
.contact-name,
.contact-email,
.contact-subject,
.contact-textarea,
.contact-button {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.contact-textarea{
  margin-top: 30px;
}
.contact-input {
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  width: 12rem;
  height: 2rem;
  box-shadow: 10px 10px 90px -10px rgba(0, 0, 0, 0.25);
  transform: translateY(1rem);
  border: 1px solid #326be500;
}
.contact-input:focus{
  outline: #c8c8c8;
  border: 2px solid #326be5;
}
.contact-name {
  display: flex;
  justify-content: space-evenly;
  align-items: center;}
.contact-text-area {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  width: 32vw;
  height: 35vh;
  border: 1px solid #326be500;
  border: 1px solid #c8c8c8;
  box-shadow: 10px 10px 90px -10px rgba(0, 0, 0, 0.25);
  font-size: 1.2.1m;
}
.contact-text-area:focus {
  outline: none;
  border: 1px solid #326be5;
  padding-left: 10px;
  box-sizing: border-box;
}
.contact-button {
  border-radius: 100px;
  width: 150px;
  height: 35px;
  background-color: #326be5;
  border: none;
  color: #f0f0f0;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  display: grid;
  place-content: center;
  margin-top: 40px;
}
.contact-labels {
  position: absolute;
  left: 16px;
  top: 7px;
  z-index: 100;}
.contact-test {
  position: relative;
}
.contact-button:hovere{
  border: 3px solid #326be5;
  background-color: #00000000;
  color:black;
}
@media screen and (max-width: 767px) {
  .contact-title{
    font-size:1.7rem;
    font-weight: 600;
  }
  .contact-text-area{
    width: 300px;
    height: 150px;
  }
  .contact-text-area:focus{
    width: 310px;
    height: 160px;
  }
  .contact-name{
    display: grid;
  }
  .contact-lastname{
    margin-top: 20px;
  }
}