@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(250, 250, 250);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.dec{
  text-decoration: none;
}
.visibel {
  visibility: visible !important;
}
.full {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.44);
  width: 100%;
  height: 100%;
  visibility: hidden;
  z-index: 100;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
}
::-webkit-scrollbar-thumb {
  background: rgb(190, 190, 190);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(170, 170, 170);
}